@model LeaveRequest.ASP.DataAccess.Param.EmployeeParam
    @{
        ViewBag.Title = "Index";
    }

    <h2>Index From EmployeeLeave</h2>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Leave Request", "Index", "EmployeeLeave", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "EmployeeLeave")</li>
                    <li>@Html.ActionLink("Leave Request", "Create", "EmployeeLeave")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>


